Repository TeamRecorDream/RecorDream-iOS, pull requests merged in 2022-07, with the labels that each got.

#3 [#1] 프로젝트 초기 세팅
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RecorDream-iOS/RecorDream-iOS/Info.plist
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Assets.xcassets/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Colors.xcassets/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Resource/Fonts/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Resource/Storyboards/Base.lproj/LaunchScreen.storyboard
  RecorDream-iOS/RecorDream-iOS/Source/Application/AppDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Application/SceneDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/Constant.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Protocols/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Create/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Play/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Share/SampleViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Share/SampleViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Service/Mock/.gitkeep
Labels: set, 은희 🥺

#6 [#5] 리드미 수정 및 super 파일 추가
  Asset/로고.png
  Asset/브랜딩.png
  Asset/소진.png
  Asset/윤휘.jpeg
  Asset/은희.jpeg
  README.md
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Common/BaseView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Common/BaseViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Share/SampleViewController.swift
  RecorDream-iOS/RecorDreamTests/RecorDreamTests.swift
Labels: docs, set, test, 은희 🥺, 🍎 iOS

#11 [Set] 추가 프로젝트 세팅
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Info.plist
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/RD_small_logo.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/RD_small_logo.imageset/RD_small_logo.svg
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/RD_small_logo.imageset/RD_small_logo@2x.svg
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/RD_small_logo.imageset/RD_small_logo@3x.svg
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/profile_icon.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/profile_icon.imageset/profile_icon.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/profile_icon.imageset/profile_icon@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/profile_icon.imageset/profile_icon@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/search_icon.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/search_icon.imageset/search_icon.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/search_icon.imageset/search_icon@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/search_icon.imageset/search_icon@3x.png
  RecorDream-iOS/RecorDream-iOS/Source/Application/SceneDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/Constant.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Share/SampleViewController.xib
Labels: set, 소진 🐰, 🍎 iOS

#24 [#18] 기록하기/상세보기 header view 추가
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/FontFactory/TypoStyle+.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Protocols/NavigationBarDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/HeaderView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/RecordViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/View/RecordHeaderView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/View/RecordHeaderView.xib
Labels: style, 소진 🐰, 🍎 iOS

#27 [#26] type default 값 변경
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/EmotionType.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/GenreType.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/RecorDreamColorType.swift
Labels: refactoring, 소진 🐰, 🍎 iOS

#28 [#25] 마이페이지 화면 연결 및 기능 구현
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Common/Protocols/TimeSettingDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/MyPageViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/TimeSettingViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/Custom/CustomSwitchButton.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/Custom/CustomTimeSettingPickerView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/MyPageViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TimeSettingViewController.xib
Labels: 윤휘 ☁️, 🍎 iOS, feat

#33 [#31] URLSession 모듈화
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/APIEnvironment.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Create/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Play/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Share/.gitkeep
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/EndPoint.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/APIError.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/APIManager.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/BaseModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/HTTPMethod.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/NetworkRequest.swift
Labels: refactoring, set, 은희 🥺, 🍎 iOS

#34 [#19] 기록하기 뷰 완성
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Resource/Colors.xcassets/warning_gray.colorset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/ColorFactory/ColorType.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/FontFactory/TypoStyle+.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/FontFactory/TypoStyle.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/HashtagView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/DateModalViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/RecordViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/View/Cell/RecordBarCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/View/RecordDateBarView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/View/RecordVoiceBarView.swift
Labels: style, 소진 🐰, 🍎 iOS, feat

#36 [#32] 상세보기 UI 및 기능 구현
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_doc_play.imageset/Component 29.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_doc_play.imageset/Component 29@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_doc_play.imageset/Component 29@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_doc_play.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_replay.imageset/Component 28.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_replay.imageset/Component 28@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_replay.imageset/Component 28@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_replay.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_stop.imageset/Component 32.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_stop.imageset/Component 32@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_stop.imageset/Component 32@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_stop.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/ImageFactory/ImageList.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Protocols/TabPagerDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Common/RecordHeaderView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Common/RecordHeaderView.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/GenreCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/RecordDetailBottomSheetViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/RecordDetailViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/GenreCollectionViewCell.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/RecordDetailBottomSheetViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/RecordDetailViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerContentCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerContentCollectionViewCell.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerTitleCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerTitleCollectionViewCell.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerView.xib
Labels: style, 윤휘 ☁️, 🍎 iOS, feat

#38 [Del] 임시 음성 파일 삭제 (#37)
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
Labels: fix, 윤휘 ☁️, 🍎 iOS

#41 [#30] WIP - 보관함, 검색
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallary_on.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallary_on.imageset/icn_gallary_on.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallary_on.imageset/icn_gallary_on@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallary_on.imageset/icn_gallary_on@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_off.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_off.imageset/icn_gallery_off.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_off.imageset/icn_gallery_off@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_off.imageset/icn_gallery_off@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_on.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_on.imageset/icn_gallery_on.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_on.imageset/icn_gallery_on@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_gallery_on.imageset/icn_gallery_on@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_off.imageset/icn_list_off.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_off.imageset/icn_list_off@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_off.imageset/icn_list_off@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_on.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_on.imageset/icn_list_on.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_on.imageset/icn_list_on@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/icn_list_on.imageset/icn_list_on@3x.png
  RecorDream-iOS/RecorDream-iOS/Source/Application/SceneDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/ImageFactory/ImageList.swift
  RecorDream-iOS/RecorDream-iOS/Source/Common/Protocols/NavigationBarDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Common/BasePaddingLabel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/HashtagView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Models/SearchResult.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Models/SearchResultNone.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Models/StorageResultExist.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Models/StorageResultNone.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/ViewModels/StorageViewModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/EmptyView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Mock/mockStorageViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Mock/mockStorageViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/Cells/SearchFooterTableViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/Cells/SearchHeaderTableViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/SearchView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/SearchViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/Cells/FilterCollectionHeaderView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/Cells/FilterCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/Cells/FilterCollectionViewCell.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/Cells/GallaryCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/Cells/ListCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/Cells/ListCollectionViewCell.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/StorageHeaderView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/StorageView+CompositionalLayout.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/StorageView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/StorageViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Share/ShareEndPoint.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Share/ShareService.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/EndPoint.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/Mock/SearchResultDummyModel.swift
Labels: bug, 은희 🥺, 🍎 iOS

#44 [#43] 스플래쉬, 인스타그램 공유 기능 구현
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Info.plist
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/main_background.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/main_background.imageset/background.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/main_background.imageset/background@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/main_background.imageset/background@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/main_background.imageset/main_background.svg
  RecorDream-iOS/RecorDream-iOS/Source/Application/AppDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Application/SceneDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/HashtagView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/RecordViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/RecordDetailBottomSheetViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/RecordDetailBottomSheetViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Splash.storyboard
Labels: set, 은희 🥺, 🍎 iOS, feat

#45 [#39] 푸시 알림 구현 및 서버 연결
  .gitignore
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RecorDream-iOS/RecorDream-iOS/GoogleService-Info.plist
  RecorDream-iOS/RecorDream-iOS/Info.plist
  RecorDream-iOS/RecorDream-iOS/RecorDream-iOS.entitlements
  RecorDream-iOS/RecorDream-iOS/Source/Application/AppDelegate.swift
Labels: 윤휘 ☁️, 🍎 iOS, feat

#47 [#35] 홈 뷰 서버 붙이기
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Common/Constants/RecorDreamColorType.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/Model/HomeRecordModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/Cell/CardCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/HashtagView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/RecorDreamView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/RecordViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/SearchViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/TabBar/TabBarController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Create/DreamEndPoint.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Create/DreamService.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Share/ShareService.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/BaseModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/Concept/Create/CreateAPIManager.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/Concept/Share/ShareAPIManager.swift
Labels: refactoring, style, 소진 🐰, 🍎 iOS

#53 [#48] 기록하기 서버 연결
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/Model/CreateRecordModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/RecordViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/TabBar/TabBarController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Create/DreamBaseModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Create/DreamEndPoint.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Create/DreamService.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/Concept/Create/CreateAPIManager.swift
Labels: 소진 🐰, 🍎 iOS, feat

#56 [#55] 충돌 수정
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Mock/mockStorageModel.swift
Labels: fix, 은희 🥺, 🍎 iOS

#60 [#52] QA 반영
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-1.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-1.imageset/gallery_card-1.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-1.imageset/gallery_card@2x-1.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-1.imageset/gallery_card@3x-1.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-2.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-2.imageset/gallery_card-2.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-2.imageset/gallery_card@2x-2.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-2.imageset/gallery_card@3x-2.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-3.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-3.imageset/gallery_card-3.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-3.imageset/gallery_card@2x-3.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card-3.imageset/gallery_card@3x-3.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card.imageset/Contents.json
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card.imageset/gallery_card.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card.imageset/gallery_card@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/gallery_card.imageset/gallery_card@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/home_card_green.imageset/home_card_green.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/home_card_green.imageset/home_card_green@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/home_card_green.imageset/home_card_green@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/home_card_pink.imageset/home_card_pink.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/home_card_pink.imageset/home_card_pink@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/home_card_pink.imageset/home_card_pink@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/list.imageset/list.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/list.imageset/list@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/list.imageset/list@3x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/tagchip_list.imageset/Frame 278.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/tagchip_list.imageset/Frame 278@2x.png
  RecorDream-iOS/RecorDream-iOS/Resource/Images.xcassets/tagchip_list.imageset/Frame 278@3x.png
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/MyPageViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Mock/mockStorageViewController.xib
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/SearchView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Storage/StorageView.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/EndPoint.swift
Labels: style, 은희 🥺, 🍎 iOS

#63 [#61] 푸시알림 수정
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/Models/NoticeModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/Models/ResponseNotDataModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/RecordDetailViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/EndPoint/Concept/Play/MyPageService.swift
Labels: 윤휘 ☁️, 🍎 iOS, feat

#62 [#54] 수정하기 서버 연결
  RecorDream-iOS/RecorDream-iOS.xcodeproj/project.pbxproj
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/View/Cell/CardCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/Model/CreateRecordModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/Model/PutRecordModel.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/RecordViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Record/ViewControllers/View/Cell/RecordBarCollectionViewCell.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/TabBar/TabBarController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Service/DTO/Network/Manager/Concept/Create/CreateAPIManager.swift
Labels: 소진 🐰, 🍎 iOS, feat

#65 [#64] UI 수정
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/MyPageViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/RecordDetailViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/View/TabPager/TabPagerContentCollectionViewCell.xib
Labels: style, 윤휘 ☁️, 🍎 iOS

#67 [Fix] 여러 오류 수정
  RecorDream-iOS/RecorDream-iOS/Source/Application/AppDelegate.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Create/Home/ViewControllers/HomeViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Play/ViewController/RecordDetailViewController.swift
  RecorDream-iOS/RecorDream-iOS/Source/Presentation/Concept/Share/Views/Search/SearchView.swift
Labels: fix, 🍎 iOS
